<nav id="nav">
  <div class="container">
    <ul class="left hide-on-med-and-down">
      <li><%= link_to 'Stores', stores_path %></li>
      <li><%= link_to 'Employees', employees_path %></li>
      <li><%= link_to 'Assignments', assignments_path %></li>
    </ul>
    <ul class="right">
      <li></li>
    </ul>
  </div>
</nav>