<h5>A&M Creamery Home</h5>

<p>This is our very creative home page.</p>
<p>Now go away.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>What are you still doing here?  Can't you follow instructions?</p>
	
<%# render :partial => 'general_home' %>